<!DOCTYPE html>
<html lang="en">

<head>
    <title>JÖNKÖPING STORES</title>
    <link rel="stylesheet" href="/styles.css">
    <script type="text/javascript" src="../list.js"></script>
</head>

<body>

    <div class="hero">
        <h1 class="title">Stores in Jönköping</h1>
        <button class="back-button"><a href="/">Back</a></button>
    </div>

    <button onclick="topFunction()" class="to-top">Top</button>
    <div class="grid-container">
        <% stores.forEach(function(store) { %>
            <div class="grid-item">
                <h2>
                    <%= store.name%>
                </h2>
                <p>District: <%= store.district ? store.district : 'N/A' %>
                </p>
                <a href="https:<%= store.url%>">To store</a>
            </div>
            <% }); %>
    </div>
</body>