<!DOCTYPE html>
<html lang="en">

<head>
    <title>JÖNKÖPING STORES</title>
    <link rel="stylesheet" href="/styles.css">
    <script type="text/javascript" src="../list.js"></script>
</head>

<body>
    <div class="hero">
        <h1 class="title">Stores in Jönköping</h1>
        <button id='loadStoresButton' class="back-button">Load Stores</button>
        <button class="back-button"><a href="/">Back</a></button>
    </div>
    <button onclick="topFunction()" class="to-top">Top</button>
    <div id="storesList" class="grid-container">

    </div>
</body>